:root {
    --background: rgb(245, 245, 245);
    --flagBorder: rgb(224, 224, 224);
}

body {
    background-color: var(--background);
    font-size: x-large;
}

.detailButton {
    border: none;
    background-color: lightgrey;
    cursor: pointer;
}

.detailButton:hover {
    background-color: grey;
}

img {
    display: inline;
    margin: 10px;
    box-shadow: 2px 2px black;
    background-color: lightgrey;
}

hr {
    height: 3px;
    background-color: black;
}